body{
    background-color: #E4E4E4;
}

.growing-up{
    transition: all 1s;
}

.growing-up:hover {
    transform: scale(1.05, 1.05);
}

.wave {
    position: absolute;
    width: 100%;
    height: 143px;
    bottom: 0;
    left: 0;
    background: url("../img/wave.png");
    animation: animate 10s linear infinite;
}

.wave:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 143px;
    top: 0;
    left: 0;
    background: url("../img/wave.png");
    animation: animate-reverse 10s linear infinite;
    opacity: 0.4;
}

.wave:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 143px;
    top: 0;
    left: 0;
    background: url("../img/wave.png");
    animation-delay: -5s;
    animation: animate 20s linear infinite;
    opacity: 0.6;
}

@keyframes animate  {
    0%{
        background-position: 0;
    }
    100%{
        background-position: 1360px;
    }
}

@keyframes animate-reverse  {
    0%{
        background-position: 1360px;
    }
    100%{
        background-position: 0;
    }
}

#modalform{
    width: 80% !important;
}
